<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.destinationcocktails.fr/wp-content/uploads/2019/11/cocktails_fumants-e1541424344388.jpg);">
  <h1>Choose the cocktail you fancy</h1>
</div>



<% @cocktails.each do |cocktail| %>
  <div class="card">
  	<p><%= link_to cocktail.name, cocktail_path(cocktail.id) %></p>
  </div>
<% end %>

<%= simple_form_for(@cocktail) do |f| %>
  <%= f.input :name %>
 <%= f.submit "Submit", class: "btn btn-outline-primary" %>
<% end %>
